@model IEnumerable<TimeTrack.Models.ReportViewClass>

@{
    ViewData["Title"] = "Report";
}

<h2>Report</h2>

<table class="table">
    <thead>
        <tr><th>
                Client
            </th>
            <th>
                Project
            </th>
            <th>
                Total Hours
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
        </tr>
}
    </tbody>
</table>
